# Игнорировать все файлы с началом bp_
bp_*

# Игнорировать все файлы с окончанием _bp
*_bp

# Игнорировать конкретный файл
index.html_bp

# Игнорировать все файлы в папке backup/
backup/

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать файлы VS Code
.vscode/

# Игнорировать файлы Mac OS
.DS_Store

# Игнорировать папку с иконками (если нужно)
icons/backup/
